repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-ast
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-json
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: mixed-line-ending
- repo: local
  hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
    - id: pyupgrade
      name: pyupgrade
      entry: poetry run pyupgrade --py38-plus
      language: system
      types: [python]
    - id: mypy
      name: mypy
      entry: poetry run mypy .
      require_serial: true
      language: system
      types: [python]
      pass_filenames: false
